/* App.css */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  text-align: left;
  background-color: #f3f3f3;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.logo {
  height: 4rem;
  padding: 1rem;
}

.read-the-docs {
  color: #888;
}
